
@{
    ViewData["Title"] = "Admin";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>LIST Administratoromgeving</h2>

        <h3>Informatie</h3><br />
    </div>
</body>
</html>

